<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta name="x-apple-disable-message-reformatting" />
</head>

<body style="background-color:#efeef1;padding:32px 0;font-family:Helvetica,Arial,sans-serif;margin:0">
    <table style="max-width:580px;margin:0 auto;background-color:#ffffff;border-collapse:collapse;font-family:Arial;">

        <tr>
            <td style="text-align:center;padding:20px">
                <img src="https://static.unimedprudente.com.br/assets/logos/logo-unimed-presidente-prudente.png" alt="Unimed"
                     width="120" style="display:block;margin:0 auto;" />
            </td>
        </tr>

        <tr>
            <td style="border-bottom:3px solid #b2d349;height:1px;"></td>
        </tr>

        <!-- Conteúdo principal -->
        <tr>
            <td style="padding:20px;text-align:center">
                <p style="font-size:14px;line-height:1.5;margin:16px 0;font-weight:600;">
                    Prezado(a),
                </p>

                <p style="font-size:14px;line-height:1.5;margin:16px 0;">
                    Informamos que há um <strong>novo número de protocolo</strong> no
                    <strong>Portal do Canal de Denúncias</strong>.
                </p>

                <p style="font-size:16px;line-height:1.5;margin:20px 0;color:#34AB7B;font-weight:600;">
                    Protocolo: {{protocolo}}
                </p>

                <p style="font-size:14px;line-height:1.5;margin:16px 0;color:#333;">
                    Guarde este número para acompanhamento do andamento da manifestação.
                </p>

                <p style="font-size:13px;line-height:1.5;margin:16px 0;color:#706a7b;">
                    Ressaltamos que todas as informações são tratadas com confidencialidade,
                    conforme as diretrizes do canal.
                </p>
            </td>
        </tr>



        <!-- Rodapé -->
        <tr>
            <td style="background:#ffffff;padding:10px 20px;text-align:center;font-size:12px;color:#706a7b">
                © {{ano}} - Unimed Presidente Prudente
            </td>
        </tr>
        <tr>
            <td style="text-align:center;padding-bottom:20px">
                <img src="https://static.unimedprudente.com.br/assets/logos/ans-315796.webp" alt="ANS" height="24"
                     style="display:block;margin:0 auto;" />
            </td>
        </tr>
    </table>
</body>

</html>